<p>carousel not working yet!</p>

<div *ngIf='name !== "Rabat"' class="cashe">
  <div class="carousel thumbnail-slick" *ngFor='let groupe of images; let g = index ; let isFirst = first'
    [class.active]="isFirst" [attr.data-index]="g">
    <div class="slide-item slide-item-v" *ngFor='let image of groupe ; let i = index ; let isFirst = first '
      [attr.data-index]="i" [class.active]="isFirst">
      <figure>
        <img alt="" [src]=image.url [attr.data-index]="i+(4*g)" appSynch>
      </figure>
    </div>
  </div>
</div>
